*{
  font-family: sans-serif;
  margin: 0px;
}

body{
  background-color: black;
}
.padre {
/*  background: rgb(82, 85, 119);*/
/*  height: 250px;*/
  /*IMPORTANTE*/
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.hijo {
  color: rgb(250, 250, 250);
  background: rgb(54, 54, 54);
  width: 750px;
}

.padre .hijo h4{
  color: rgb(33, 240, 7);
  font-weight: bold;
}

pre{
  background-color: rgb(212, 25, 54);
  font-family: 'Asap';
}

pre a {
  color: rgb(235, 255, 0);
  text-decoration: none;
  font-family: 'Gloria Hallelujah'
}
