html{
  font-family: 'Asap',sans-serif;
  margin: 0px;
  background: url(https://images.pexels.com/photos/1367188/pexels-photo-1367188.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) bottom center;
  background-size: cover;
  background-attachment: fixed;
}

body,html{
  margin: 0;
  padding: 0;

}
.padre {
/*  background: rgb(82, 85, 119);*/
/*  height: 250px;*/
  /*IMPORTANTE*/
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.hijo {
  background-color:rgba(0, 0, 0, 0.4);
  width: 750px;
  padding: 15px;
  color: white;
}

.padre .hijo h4{
  color: rgb(33, 240, 7);
  font-weight: bold;
}

pre{
  background-color: rgb(212, 25, 54);
  font-family: 'Asap';
}

pre a {
  color: rgb(235, 255, 0);
  text-decoration: none;
  font-family: 'Gloria Hallelujah'
}
